.ReactModalPortal {
    &>div {
        opacity: 0;
    }
    & .ReactModal__Overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease-in-out;
        &--after-open {
            opacity: 1;
        }
        &--before-close {
            opacity: 0;
        }
    }
}

.modal {
    background: $light-blue;
    color: #fff;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
    &__title {
        margin: 0 0 $m-size 0;
    }
    &__body {
        font-size: 2rem;
        font-weight: 300;
        margin: 0 0 $m-size 0;
        word-break: break-all;
    }
}